services:
  project498.webapi:
    image: project498.webapi
    build:
      context: .
      dockerfile: Project498.WebApi/Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Host=db;Database=project498;Username=postgres;Password=postgres
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:8080
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
      - "8081:8081"

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: project498
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 3s
      retries: 30
      start_period: 5s
